h1{
    color:brown;
    background-color: lawngreen;
}
form{
    color:brown;
    background-color: lawngreen;
}
img{
    width: 300px;
}
.youtube{
    width: 100%;
   
}
.map{
    width: 100%;
}